{% extends "base.html" %}

{% load static %}

{% block page_content %}

<header>
    <div id="icon" class="nav-icon"> 
        <span></span>
        <span></span>
        <span></span>
    </div>
    
    <nav>
        <button><a href="{% url 'contact' %}">contacts</a></button> 
        <button><a href="{% url 'home' %}">Home</a></button>
        <button><a href="{% url 'portfolio' %}">portfolio</a></button> 
    </nav>
</header>

<p style="color: white; font-size: 55px; text-align: left; font-weight: 3000px; margin-left: 1vw;">Delete Project </p>

    <form method="POST">
        {% csrf_token %}

        <h2 style="color: white;">Are you sure you want to delete {{ project.title }}?</h2>  

        <input type="submit" value="Yes, Delete it">
        <button><a href="{% url 'project' %}" style="text-decoration: none; color: white;">No, Cancel</a></button>
    </form>
{% endblock page_content %}